# Problem Set 2

## Python

## Question 1

#### Consider the following Python module:
<br> a = 0
<br> def b():
    <br> global a
    <br> a = c(a)
    <br> def c(a):
<br>  return a + 2

#### After importing the module into the interpreter, you execute:
<br>  b()
<br>  b()
<br>  b()
<br>  a

#### What value is displayed when the last expression (a) is evaluated? Explain your  answer by indicating what happens in every executed statement

In [22]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [23]:
b()
b()
b()

print(a)

6

## Question 2

#### Function fileLength(), given to you, takes the name of a file as input and returns  the length of the file:
<br> fileLength('midterm.py')
<br>284
<br> fileLength('idterm.py')
<br>Traceback (most recent call last):
<br>File "<pyshell#34>", line 1, in <module>
 <br>fileLength('idterm.py')
<br>File "/Users/me/midterm.py", line 3, in fileLength
<br> infile = open(filename)
<br>FileNotFoundError: [Errno 2] No such file or directory: 
<br>'idterm.py'
    
#### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
    
<br> fileLength('midterm.py')
<br>358
<br> fileLength('idterm.py')
<br>File idterm.py not found.

In [47]:
def file_length(file_name):
    try:
        infile = open(file_name)
        contents = infile.read()
        infile.close()
        print("filelength('",file_name,"')")
        print(len(contents))
    except FileNotFoundError:
        print("filelength('",file_name,"')")
        print("file", file_name," does not found!")
        print("Please check the file name!")
    except:
        print("something went wrong")

In [49]:
file_length('midterm.py')
file_length('idterm.py')

filelength(' midterm.py ')
127
filelength(' idterm.py ')
file idterm.py  does not found!
Please check the file name!

## Question 3

#### Write a class named Marsupial that can be used as shown below:
<br> m = Marsupial()
<br>  m.put_in_pouch('doll')
<br>  m.put_in_pouch('firetruck')
<br>  m.put_in_pouch('kitten')
<br>  m.pouch_contents()
<br> ['doll', 'firetruck', 'kitten']

#### Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

#### a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
#### b, supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
#### c. overloads the __str__ operator so it behaves as shown below.
<br> k = Kangaroo(0,0)
<br> print(k)
<br>I am a Kangaroo located at coordinates (0,0)
<br> k.put_in_pouch('doll')
<br> k.put_in_pouch('firetruck')
<br> k.put_in_pouch('kitten')
<br> k.pouch_contents()
<br>['doll', 'firetruck', 'kitten']
<br> k.jump(1,0)
<br> k.jump(1,0)
<br> k.jump(1,0)
<br> print(k)
<br>I am a Kangaroo located at coordinates (3,0)

In [95]:
class Marsupial: #Write a class named Marsupial 
    def __init__(self):
        self.inPouch =[]
    
    def put_in_pouch(self,entry):
        self.inPouch.append(entry)
        
    def pouch_contents(self):
        print(self.inPouch) 
        
class Extender(Marsupial):
    'class that extends __init__'
    def __init__(self,xcord=0, ycord=0):
        self.inPouch =[]
        self.x = xcord
        self.y = ycord   
  
        
class Kangaroo(Marsupial): #write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial
    def __init__(self,xcord=0, ycord=0):
        self.inPouch =[]
        self.x = xcord
        self.y = ycord 
    def jump(self,dx,dy):
        self.x += dx
        self.y += dy 
    def __str__(self):
        print("k=kangaroo({},{})" .format( self.x, self.y  ))
        print("I am a Kangaroo located at coordinates ({},{})". format( self.x, self.y  ))

In [96]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [100]:

 k = Kangaroo(0,0)
k.__str__()

k=kangaroo(0,0)
I am a Kangaroo located at coordinates (0,0)

In [98]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [101]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

k.__str__()

k=kangaroo(4,0)
I am a Kangaroo located at coordinates (4,0)

## Question 4

#### Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
<br> x = 
<br> 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n<br> 3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
#### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops

<br> collatz(1)
<br>1
<br> collatz(10)
<br>10
<br>5
<br>16
<br>8
<br>4
<br>2
<br>1

In [2]:
def collatz(x):
    print(x)
    if x==1:
        exit()
    elif x%2 == 0:
        collatz(int(x/2)) 
    else: 
        collatz((3*x+1))

In [3]:
collatz(1)

1

In [3]:
collatz(10)

10
5
16
8
4
2
1

## Question 5

#### Write a recursive method binary() that takes a non-negative  integer n and prints the binary representation of integer n.
<br> binary(0)
<br>0
<br> binary(1)
<br>1
<br> binary(3)
<br>11
<br> binary(9)
<br>1001

In [33]:
bin = []
def binary(integer):
    Q, R = int(integer/2), integer%2
  
    bin.append(R)
    if Q != 0:
        binary(Q)   #recall the function till qoutient gets zero
    else:
        x=""
        list.reverse(bin) #reverse the bin[] just to get MSB to LSB
        for char in bin:
            x+=str(char)
        print(x)
        list.clear(bin)

In [91]:
binary(0)

0

In [36]:
binary(1)

1

In [88]:
binary(3)

11

In [89]:
binary(9)

1001

## Question 6

#### Implement a class named HeadingParser that can be used to parse an HTML  document, and retrieve and print all the headings in the document. You should  implement your class as a subclass of HTMLParser, defined in Standard Library  module html.parser. When fed a string containing HTML code, your class should  print the headings, one per line and in the order in which they appear in the  document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your  implementation using w3c.html.
<br> infile = open('w3c.html')
<br> content = infile.read()
<br> infile.close()
<br> hp = HeadingParser()
<br> hp.feed(content)
<br>W3C Mission
<br>Principles

In [11]:
from html.parser import HTMLParser 

class HeadingParser(HTMLParser):
   
    def handle_starttag(self, tag, attrs):
        self.tags=tag

    def handle_data(self, data):    
  
        if('h1' == self.tags):
            print(data)
        elif('h2' == self.tags):
            print(" ",data)
        elif('h3' == self.tags):
            print("  ",data)
        elif('h4' == self.tags):
            print("   ",data)
        elif('h5' == self.tags):
            print("   ",data)
        elif('h6' == self.tags):
            print("   ",data)

In [10]:
infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser()
hp.feed(content)

W3C Mission


  Principles

## Question 7

### Implement recursive function webdir() that takes as input: a URL (as a string) and  non-negative integers depth and indent. Your function should visit every web  page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should  be used to indicate the depth of a URL.
<br> 
webdir('http://reed.cs.depaul.edu/lperkovic/one.html '
, 2, 0)
<br>http://reed.cs.depaul.edu/lperkovic/one.html 
 <br>http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
<br> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
<br> http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
<br> http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

## Question 8

#### Write SQL queries on the below database table that return: 
#### a) All the temperature data.
#### b) All the cities, but without repetition.
#### c) All the records for India.
#### d) All the Fall records.
#### e) The city, country, and season for which the average rainfall is between 200  and 400 millimeters.
#### f) The city and country for which the average Fall temperature is above 20  degrees, in increasing temperature order.
#### g) The total annual rainfall for Cairo.
#### h) The total rainfall for each season.

In [3]:
import sqlite3
con = sqlite3.connect('web2.db')
cur = con.cursor()
cur.execute("CREATE TABLE Temp3 (City text, Country text, Season text, Temperature numeric, Rainfall numeric)")

In [4]:
cur.execute("INSERT INTO Temp3 VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Temp3 VALUES ('Mumbai', 'India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Temp3 VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Temp3 VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Temp3 VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Temp3 VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Temp3 VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Temp3 VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Temp3 VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Temp3 VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Temp3 VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Temp3 VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

#### a) All the temperature data.

In [8]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT DISTINCT CITY FROM Temp2')

cur.execute('SELECT Temperature FROM Temp3')
Temp =cur.fetchall()
for i in Temp:
    print(i)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

#### b) All the cities, but without repetition.

In [7]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT DISTINCT CITY FROM Temp3')

Lst= cur.fetchall()
for i in Lst:
    print(i)

('Mumbai',)
('London',)
('Cairo',)

#### c) All the records for India.

In [6]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT * FROM Temp3 WHERE country="India"')

Lst= cur.fetchall()
for i in Lst:
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346)

#### d) All the Fall records.

In [9]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT * FROM Temp3 WHERE Season="Fall"')

Lst= cur.fetchall()
for i in Lst:
    print(i)

('Mumbai', 'India', 'Fall', 27.6, 346)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

#### e) The city, country, and season for which the average rainfall is between 200  and 400 millimeters.

In [10]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT City, Country, Season FROM Temp3 WHERE Rainfall BETWEEN 200 and 400')

Lst= cur.fetchall()
for i in Lst:
    print(i)

('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')

#### f) The city and country for which the average Fall temperature is above 20  degrees, in increasing temperature order.

In [16]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT City, Country FROM Temp3 WHERE Season="Fall" AND Temperature >20')
 
Lst= cur.fetchall()
for i in Lst:
    print(i)

('Mumbai', 'India')
('Cairo', 'Egypt')

#### g) The total annual rainfall for Cairo.

In [11]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT SUM(Rainfall) FROM Temp3 WHERE City="Cairo"')

Lst= cur.fetchall()
for i in Lst:
    print(i)

(27.6,)

#### h) The total rainfall for each season.

In [13]:
import sqlite3
con = sqlite3.connect('web2.db')
cur.execute('SELECT SUM(Rainfall), Season FROM Temp3 GROUP BY Season')

Lst= cur.fetchall()
for i in Lst:
    print(i)

(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

## Question 9

Suppose list words is defined as follows:
<br> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
<br>Write list comprehension expressions that use list words and generate the following 
<br>lists:
<br>a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
<br>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
<br>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] 
<br>(the list of lengths of words in list 
words).
<br>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]]
<br>(the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
<br>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
<br>(the list of words in list words containing 4 or more 
characters.

In [5]:
words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
up = [w.upper() for w in words]

low= [w.lower() for w in words]

length= [len(w) for w in words]

lst = [[w.upper(), w.lower(), len(w)] for w in words]

lst1 = [w for w in words if len(w)>=4]
print(up)
print( )
print(low)
print( )
print(length)
print( )
print(lst)
print( ) # added extra print out put just for presenting output clearly
print(lst1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']